/*
 * ========================================
 * SECONDARY HEADER - BASE STYLES
 * ========================================
 */
header.secondary-header {	
    position: fixed;
    height: 100vh;
    width: auto;
    transform: translateY(-102vh);
    top: 0;
    left: 0;
    z-index: 9999;
}
@media (min-width:1601px) {
    header.secondary-header {
        left: calc((100vw - 1600px) / 2);
    }
}

/*
 * ========================================
 * PAGE LAYOUT
 * ========================================
 */
.brro-flex-page {
    padding-top: clamp(58px, 5.69vw, 91px) /*82px @ 1440*/;
    padding-bottom: clamp(40px, 3.89vw, 62px) /*56px @ 1440*/;
}
.brro-flex-page .content-wrapper {
    max-width: clamp(697px, 68.06vw, 1089px) /*980px @ 1440*/;
    margin-right: clamp(33px, 3.26vw, 52px) /*47px @ 1440*/;
    margin-left: auto;
}